* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: auto;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  padding: 20px;
}

.leaflet-container {
  height: 300px;
  width: 100%;
}

.employee-details {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.stripe-image-container {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.stripe-image {
  width: 100%;
  height: 350px;
  object-fit: cover;
}